.container {
  margin: 10px;
  border: 1px solid #000;
}

.headTitle {
  display: flex;
  justify-content: end;
  margin-right: 15px;
  font-size: 16px;
  font-weight: 500;
}

.headerBody {
  padding-left: 10px;
  padding-right: 10px;
}

.mainBody {
  border: 1px solid #000;
  margin: 10px;
}

